allow from all
Options -Indexes
AddHandler mod_python .py
PythonHandler lib.handler_apache
PythonDebug On
PythonPath "sys.path+['/home/philippp/pychee']"
#SetEnvIfNoCase PYCHEE_END_URI .+ PYCHEE_END_URI=""
DirectoryIndex /static/index.html

RewriteEngine On
RewriteBase /

# If the request doesn't include a dot and doesn't have a slash at the end,
# add a slash and redirect
# Ex: /a/b/someresource --> /a/b/someresource/
# Ex: /a/b/someresource.ext --> no change, there's an extension
# RewriteRule ^([^.?]+[^/])$ $1/ [R=permanent,L]

# If the request isn't a folder, and there's a .py that matches
# the last part of the path, redirect to that.
# Ex: /a/b/something/ --> a/b/something.py
RewriteCond %{DOCUMENT_ROOT}controllers/$1.py -f
RewriteRule ^([^/]+)(.+)?$ %{DOCUMENT_ROOT}controllers/$1.py [E=PYCHEE_END_URI:$2,L]
RequestHeader append PYCHEE_END_URI "%{PYCHEE_END_URI}e" env=PYCHEE_END_URI

RewriteCond %{DOCUMENT_ROOT}static/$1 -f
RewriteRule ^(.+[^/]) %{DOCUMENT_ROOT}static/$1 [L]

# If the request isn't a folder, and there's an .html that matches
# the last part of the path, redirect to that.
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.+[^/]) $1.html [L]