#extends base
#set $page_name = 'main'


#def maincol()
  <div id="page-wrap">
    <div id="right-text">
      <p>
	<h3>Why 100 beds?</h3>  
	Long-term recovery requires long-term solutions. The Haitian people have emergency needs now as H&ocirc;pital Sacr&eacute; Coeur has many patients still assigned to cots and stretchers for lack of hospital beds.  But many are long-term patients and will need physical therapy, rehabilitation, and surgeries, and additional medical conditions will result from lack of durable beds. Also, H&ocirc;pital Sacr&eacute; Coeur must expand to meet the needs of an increasing population. By sending more quality beds, nurses and doctors can ensure that patient recovery happens faster and meet the populations' needs.  Quality hospital beds are durable and, in the long run, are an economical investment into Haiti&#8217;s overall long-term recovery. 
      </p>	

      
    </div> 
    <div id="left">	
      <h1>about 100 beds</h1>
      
      <h3>What is the campaign?</h3>
      

      The 100 Beds for Haiti Campaign is made up of creative and passionate citizens, students, and professionals dedicated to improving health services in Haiti. 
      <br />
      <br />
      Hundreds of thousands of displaced Haitians have relocated to Northern Haiti to escape the physical devastation of the January earthquake.  As Haiti&#8217;s largest and best functioning private hospital, the H&ocirc;pital Sacr&eacute; Coeur (HSC) currently has 73 permanent inpatient beds and the need for more quality hospital beds is overwhelming.   In partnership with HSC and the Center for the Rural Development of Milot (CRUDEM), we aim to raise $300,000 to purchase and deliver 100 hospital beds to meet this immediate need and support the sustainable, long-term recovery and development of Haiti.
      <br />
      <br />

    </div>
    
  </div>
#end def
