<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

  <head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    
    <title>100 Beds for Haiti</title>
 <link rel='shortcut icon' type='image/ico' href='/images/favicon.ico' />  <link rel='icon' type='image/ico' href='/images/favicon.ico' />  
    <link rel='stylesheet' type='text/css' href='/css/style.css' />
    <link rel="stylesheet" href="/css/vlightbox.css" type="text/css" />
    <style type="text/css">#vlightbox a#vlb{display:none}</style>
    <link rel="stylesheet" href="/css/visuallightbox.css" type="text/css" media="screen" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script type='text/javascript' src='/js/jquery.color-RGBa-patch.js'></script>
    <script type='text/javascript' src='/js/example.js'></script>
  </head>

  <body>
	
	<div id="head">
		<div id="wrap">
			<a href="http://100bedsforhaiti.com"><img src="images/haiti_logo.jpg" alt="100 Beds for Haiti logo" /></a>
		</div>
	</div>
	<div id="lead">
		<div id="wrap">
			<p>In Haiti's <ahref="http://www.crudem.org" target="_blank">Sacr&eacute; Coeur Hospital</a>, hundreds of sick patients will spend tonight sleeping on cots, floors and benches. Something as simple as a hospital bed can improve the outcome for the sick dramatically. The 100 Beds for Haiti Campaign needs your help to procure and deliver 100 hospital beds. Your small contribution today will have a lasting impact on Haiti's healthier tomorrow. 
			</p>
		</div>
  	</div>	
	<div id="navigation">
		<div id="wrap">
			<ul id="" class="nav-list group">
				<li><a href="/">home</a></li>
				<li><a href="/about">about</a></li>
				<li><a href="/partners">partners</a></li>
				<li><a href="/how">how we work</a></li>
				<li><a href="/getinvolved">get involved</a></li>
				<li><a href="http://100bedsforhaitiblog.blogspot.com/" target="_blank">blog</a></li>


<li><a class="nav-donate" href="/donate">donate now</a></li>
							</ul>
		</div>
	</div>
	
	<div id ="wrap">
			
    	<div id="sidebar">
			<object width="290" height="163"><param name="allowfullscreen" value="true" /><param name="allowscriptaccess" value="always" /><param name="movie" value="http://vimeo.com/moogaloop.swf?clip_id=9114595&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=00ADEF&amp;fullscreen=1" /><embed src="http://vimeo.com/moogaloop.swf?clip_id=9114595&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=00ADEF&amp;fullscreen=1" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" width="290" height="163"></embed></object><p><a href="http://vimeo.com/9114595">H&ocirc;pital Sacr&eacute; Coeur "Haiti Relief Fund"</a> </p>
			<!-- Start VisualLightBox.com BODY section -->
			<div id="vlightbox">
				<a class="vlightbox" href="/data/images/3723768885_48a6afe0e1_o.jpg" title="3723768885_48a6afe0e1_o"><img src="/data/thumbnails/3723768885_48a6afe0e1_o.jpg" alt="3723768885_48a6afe0e1_o"/></a>
				<a class="vlightbox" href="/data/images/3723774489_59b2d88934_o.jpg" title="3723774489_59b2d88934_o"><img src="/data/thumbnails/3723774489_59b2d88934_o.jpg" alt="3723774489_59b2d88934_o"/></a>
				<a class="vlightbox" href="/data/images/3729739160_26349fc774_o.jpg" title="3729739160_26349fc774_o"><img src="/data/thumbnails/3729739160_26349fc774_o.jpg" alt="3729739160_26349fc774_o"/></a>
				<a class="vlightbox" href="/data/images/haiti_hospital.jpg" title="haiti hospital"><img src="/data/thumbnails/haiti_hospital.jpg" alt="haiti hospital"/></a>
				<a class="vlightbox" href="/data/images/haiti_hospital_1.jpg" title="haiti hospital 1"><img src="/data/thumbnails/haiti_hospital_1.jpg" alt="haiti hospital 1"/></a>
				<a class="vlightbox" href="/data/images/haiti_hospital_2.jpg" title="haiti hospital 2"><img src="/data/thumbnails/haiti_hospital_2.jpg" alt="haiti hospital 2"/></a>
				<a class="vlightbox" href="/data/images/022.jpg" title="022"><img src="/data/thumbnails/022.jpg" alt="022"/></a>
				<a class="vlightbox" href="/data/images/028.jpg" title="028"><img src="/data/thumbnails/028.jpg" alt="028"/></a>
				<a class="vlightbox" href="/data/images/3723770971_6978d3f4e1_o.jpg" title="3723770971_6978d3f4e1_o"><img src="/data/thumbnails/3723770971_6978d3f4e1_o.jpg" alt="3723770971_6978d3f4e1_o"/></a><script src="/js/visuallightbox.js" type="text/javascript"></script>
			</div>
	      	<!-- End VisualLightBox.com BODY section -->
			<div id="social">
				<a href="http://twitter.com/100bedsforhaiti" target="_blank"><img src="images/twitter.png" /></a>
				<a href="http://www.facebook.com/home.php?#!/pages/100-Beds-for-Haiti/296584143649" target="_blank"><img src="images/facebook.png" /></a>
				<a href="http://www.flickr.com/photos/100bedsforhaiti/" target="_blank"><img src="images/flickr.png" /></a>
	      		<p>
					<a href="/contact">Contact Us!</a>
				</p>
			</div>
		</div>
	
		<div id="main">
		    $maincol()

		    <script type="text/javascript">
		      \$(document).ready(function(){
		      \$.getJSON('http://www.twitter.com/status/user_timeline/100beds4Haiti.json?count=10&callback=?',
		      function(data){
		      var tweets = '';
		      console.log(data);
		      \$.each(data, function(index, item){
		      tweets += '<div id="tweet"><p>' + item.text + '</p></div>'
		      });
		      \$('#twitter').append(tweets);
		      });
		      });
		    </script>	
		</div>
	
	</div>	
 

  </body>
</html>

#def donation_buttons()
<table>
  <thead></thead>
  <tbody>
    <tr>
      <td align="center">$500</td>
      <td align="center">$250</td>
      <td align="center">$100</td>
      <td align="center">$50</td>
      <td align="center">$10</td>
      <td align="center">other</td>
    </tr>
    <tr>
      <td>$pp_button(500)</td>
      <td>$pp_button(250)</td>
      <td>$pp_button(100)</td>
      <td>$pp_button(50)</td>
      <td>$pp_button(10)</td>
      <td>$pp_button()</td>
    </tr>
  </tbody>
</table>
#end def

#def is_selected($item_name)
   #if $_cname == $item_name 
     #return 'selected'
   #end if
#end def

#def head()
#end def

#def suppress_right_col()
     <style type="text/css">
     \#maincol{ width: 100%; }
     \#rightcol{ display: none; }
     </style>
#end def

#def right_col()
#end def

#def menu_item($iname, $idesc)
  #set $ipath = "/"+$iname
  #if $iname == "main"
     #set $ipath = "/"
  #end if
    <div class="menu_item $is_selected($iname)">
      <div class="right_menu_item"></div>
      <div class="mid_menu_item">
	<a href="$ipath">$idesc</a>
      </div>
      <div class="left_menu_item"></div>
    </div>
#end def

#def pp_button($amount=0, $cc_logo=False)
	  <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
	    #if $amount > 0
	    <input type="hidden" name="amount" value="$amount"/>
	    #end if
	    <input type="hidden" name="business" value="paypal@crudem.org"/>
	    <input type="hidden" name="cmd" value="_donations"/>
	    <input type="hidden" name="item_name" value="100 Beds for Haiti"/>
	    <input type="hidden" name="item_number" value="100 Beds for Haiti"/>
	    <input type="hidden" name="cpp_header_image" value="http://www.100bedsforhaiti.com/images/100beds_sm.jpg"/>
	    <input type="hidden" name="image_url" value="http://www.100bedsforhaiti.com/images/100beds_sm.jpg"/>
	    <input type="hidden" name="page_style" value="primary"/>
	    #if $amount > 0
	    <input type="image" border="0" src="/images/${amount}.jpg" name="submit" alt="PayPal - The safer, easier way to donate online!">
	    #else
	    <input type="image" border="0" src="/images/other.jpg" name="submit" alt="PayPal - The safer, easier way to donate online!">
	    #end if
	  </form>
#end def
