#extends base

#def maincol()

<div id="page-wrap">
	<h1>Talk to us</h1>
	<div id="left-text">
		<p>
			Got ideas? Questions? We want to hear them. 
		</p>
		
		<div id="contact-area" class="right-col">

			<form method="post" action="/contact/comment">
				<ul>
					<li><h3><label for="name">Name:</label><h3></li>
					<li><input type="text" name="name" id="Name" /></li>
					<li><h3><label for="email">Email:</label></h3></li>
					<li><input type="text" name="email" id="Email" /></li>
					<li><h3><label for="message">Message:</label></h3></li>
					<li><textarea name="message" rows="10" id="Message"></textarea></li>
					<li><button type="submit" name="submit" class="submit-button"><img src="/images/check.png" alt="" /> Submit</button></li>
				</ul>
			</form>

			<div style="clear: both;"></div>	

		</div>
	</div>
</div>

#end def

