#extends base

#def maincol()
<h2>Talk to us</h2>

<form action="/contact/comment" method="post">
  <span class="formlabel">Your Name:</span>
  <input type="text" name="name" value="Your Name"/><br/>

  <span class="formlabel">Your Email:</span>
  <input type="text" name="email" value="Your Email"/><br/>

  <span class="formlabel">Your Message:</span><br/>
  <textarea name="message"></textarea><br/>
  <input type="submit" value="Send"/>
</form>
#end def
