#extends base

#def maincol()

<div id="page-wrap">
	<h1>Take Action</h1> 
	<div id="right-text">
	<h3>Select an Amount</h3>
	<table>
		<tr> 
			<td class="donate-price"> 
				<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_flow&SESSION= mNzmkokTfnJdIi6j2hz0zUWcxnVJdBqcIHKZzY16fJruSrvEjE8ZX4w_uL8&dispatch= 5885d80a13c0db1fc53a056acd1538874a43d73a07f26b2caf7353d6a9263490"> <img src="/images/other.jpg" /> </a> 
			</td> 
			<td class="donate-price"> 
				<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_flow&SESSION= w9FQAIIVs9ArYlbYTV6kmEd-qxfZGp_jjInTTROOr21zM-RyUbj2adPdVR8&dispatch= 5885d80a13c0db1fc53a056acd1538874a43d73a07f26b2caf7353d6a9263490"> <img src="/images/25.jpg" /> </a> 
			</td> 
			<td class="donate-price"> 
				<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_flow&SESSION=Xsl- oNp1kVuvq--UyM1p1o1q2vLMuEmluBUtnr3lNIHTrOJMFgM1xujayEG&dispatch= 5885d80a13c0db1fc53a056acd1538874a43d73a07f26b2caf7353d6a9263490"> <img src="/images/50.jpg" /> </a> 
			</td> 
		</tr> 
		<tr> 
			<td class="donate-price"> 
				<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_flow&SESSION= WhxuMenCryC18xMvtmVki8n-ZhurXEvaptOdWAHL7T1WO-E_obrYx51f7MG&dispatch= 5885d80a13c0db1fc53a056acd1538874a43d73a07f26b2caf7353d6a9263490"> <img src="/images/100.jpg" /> </a> 
			</td>
			<td class="donate-price">
				<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_flow&SESSION= P7pYNknDu2zGnNoS7Y8tO-Vrq_sWctmv17szcC909c811Tk8plKij8lR0JK&dispatch= 5885d80a13c0db1fc53a056acd1538874a43d73a07f26b2caf7353d6a9263490"> <img src="/images/250.jpg" /> </a> 
			</td> 
			<td class="donate-price">
				<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_flow&SESSION= 6ivORXfq29t_N83ZSCfvGw-ex6jCmGrQvEVnnqmi5PiC64WrwYpzLD8XfAy&dispatch= 5885d80a13c0db1fc53a056acd1538874a43d73a07f26b2caf7353d6a9263490"> <img src="/images/500.jpg" /> </a> 
			</td> 
		</tr>
	</table> 
	</div>
	<div id="left-text">
		<h3>Donate</h3> 
		<p> 
			The easiest and quickest way to help is by donating at any level below.
		</p>	
		<p>
			We are raising the money and resources to finance the purchase, transportation, and delivery of 100 hospital beds to the H&ocirc;pital Sacr&eacute; Coeur. Every donation helps us reach this critical goal. 
		</p>	
		<p>	
			<b>100% of donations will be delivered directly to our partners in Haiti, The CRUDEM foundation for the H&ocirc;pital Sacr&eacute; Coeur.</b>
		</p>
		<p>
			Please see the organization&#8217;s IRS letter of determination, audited financial statements and Tax ID number <a href="http://www.crudem.org/give/tax-info">here</a>. 
		</p>
		<p>
			<b>ALL DONATIONS TO THE 100 BEDS FOR HAITI CAMPAIGN ARE EARMARKED FOR THIS PARTICULAR CAUSE AND WILL GO DIRECTLY TO THE ORGANIZATION.</b>
		<p>
			<b>Please click on an amount to donate to this campaign.</b>
		</p>	
	</div>
</div>
 #end def