#extends base

#def maincol()
	    <h2>Donate</h2>
	    <p>The easiest and quickest way to help is by donating at any level below.</p>
	    <p>We are raising $300,000 to finance the purchase, transportation, and delivery of 100 medical hospital beds to the H&ocirc;pital Sacr&eacute; Coeur. Every donation helps us reach this critical goal. 100% of donations will be delivered directlyt to our partners in Haiti, the CRUDEM foundation for the H&ocirc;pital Sacr&eacute; Coeur.
	      <center>
		$donation_buttons()
	      </center>

	    <h2>Talk to us</h2>
	    <p>Got ideas? We want to hear them. Want to volunteer, help out, or partner up? Let's talk!</p>
	    <form action="/contact/comment" method="post">
	      <span class="formlabel">Your Name:</span>
	      <input type="text" name="name" value="Your Name"/><br/>
	      
	      <span class="formlabel">Your Email:</span>
	      <input type="text" name="email" value="Your Email"/><br/>
	      
	      <span class="formlabel">Your Message:</span><br/>
	      <textarea name="message"></textarea><br/>
	      <input type="submit" value="Send"/>
	    </form>


	    <h2>Stay Connected</h2>
	    Stay connected to our campaign as we progress. Sign up to join our list-serv:
	    <form action="/contact/signup" method="post">
	        <input type="text" name="name" value="Your Name"/>
	    	<input type="text" name="email" value="Your Email"/>
	    	<input type="submit"/>
	    </form>	    
#end def
