#extends base

#def maincol()	 
<div id="page-wrap">
  <div id="right">
    <div id="who">
      <h2>Steering Committee</h2>
      <dl>
      	<br />
      	<dt>        
          <a href="#">
            <img src="/images/judith.jpg" />
          </a>
        </dt>
        <dd>            
          <strong>Judith Kaine:</strong>  Influenced by a visit to Cap Haitien and her work in healthcare with Haitian migrants in the Dominican Republic, Judith founded the 100 beds for Haiti campaign. Judith brings experiences working with refugees and displaced communities in the USA, Sudan, Uganda, and the Caribbean, on projects focused in health promotion, post-conflict reconstruction, and community building through the arts. A Floridian turned Brooklynite, she is completing her Master of International Affairs and Master of Public Health degrees at Columbia University. Judith likes using cameras and modern media to focus her passions as they relate to logic and emotion, the creation of social change, humor and ideas, good tastes, and good times.
        </dd>
        <br />
        <dt>        
          <img src="/images/marc.jpg" />
        </dt>
        <dd>            
          <strong>Marc Maleika:</strong>  Marc worked in Natural Disaster Risk Management and Prevention at the World Bank and is currently heading the Sustainable Design Incubator at the Pratt Institute in Brooklyn, NY. Marc holds a Masters in International Affairs of Columbia University and a Masters in Economics from Maastricht University.   ONE SENTENCE ON WHY YOU'RE DOING THIS AND YOUR MOTIVATION PLZ: His German and French heritage predisposes him for a love for electronic music, travel, and architecture?! 
        </dd>
	<br />
        <dt>        
          <a href="#">
            <img src="/images/elizabeth.jpg" />
          </a>
        </dt>
        <dd>            
          <strong>Elizabeth Callanan:</strong>is an activist with a background in public interest law.  She graduated from Drew University with a BA in Political Science and English and received her J.D. from Brooklyn Law School in 2006.  Elizabeth brings her experience in online media, lobbying and advocacy to the project and is excited to be working for sustainable change for healthcare in Haiti.  She has lived and worked in Washington, DC, London and New York City.  
        </dd>
        <br />
        <dt>
          <a href="#">
            <img src="/images/cassidy.jpg" />
          </a>
        </dt>
        <dd>            
          <strong>Cassidy Flanigan:</strong>   Cassidy is a writer and editor living in Brooklyn, New York.  Hailing from Vermont, Cassidy has worked for the Global Health Council, the world&apos;s largest membership advocacy organization and she has also served as the campaign manager for Vermont State Senator John F. Campbell for the 2008 election.  Cassidy has lived and worked in Paris, Dublin, and Amsterdam where among many things, she developed a great affinity for cheese.  
        </dd>
        
	
	
	
	
      </dl>
    </div>
  </div>  
  <p>
    <h3>How We Work</h3>
    
    Through grassroots mobilization, marketing campaigns, corporate giving, fundraisers, word of mouth, social networking, and media and blog support, the 100 Beds for Haiti Campaign will raise the necessary funds through our friends, colleagues and supporters across the country and world to support our benchmark goal of delivering 100 hospital beds to Haiti by June 1, 2010.
    <br /><br />
    <h3>Who Are We:</h3>

    <strong>Steering Committee</strong>
    <br />

    We are a team of students and young professionals and we bring experiences in public health, disaster management, economic development, advocacy, law, journalism and media, humanitarian aid, visual and performing arts, community building, philanthropy, marketing, event planning, and social networking. Our core Steering Committee is guided by a network of supporters including an Advisory Board and key Stakeholders.
    <br /><br />

    Our commitment to helping build a stronger more stable Haiti is rooted in the recognition of our shared humanity and our responsibility to use our talents and energy to create positive, sustainable change for a healthier Haiti.
    <br />Please take a moment and learn more about who we are.
    <br /><br />
    <strong>Advisory Board</strong>
    <br />
    <ul>
      <li><b>Brock Boddie:</b> For the past nine years, Brock has worked as a web project manager and strategist for SIRIUS Satellite Radio, the United Nations in the Central African Republic, New York and The Gambia, and for several other organizations. When he isn't helping out 100 beds for Haiti, he's working for the Open Society Institute as their Senior Web Advocacy Advisor as well as the Web Manager for buildOn, an education and community service focused non-profit.  Brock has a masters degree in international affairs from Columbia University, a BA from the University of Michigan, and a cat named Meyer.  </li>
      <li><b>Edna Bonhomme:</b> Edna is an activist and a graduate student at Columbia University where she studies public health with an emphasis on understanding sexuality in the Caribbean. Edna brings not only her Haitian descent, working experiences in south Florida and in northern Haiti, and her passion for political and health equality to this campaign, but also her love for dancing.</li>
      <li><b>Sarah Dutcher:</b> Sarah&#8217;s interest in this project stems from her experience working with the UNDP in Haiti, where she experienced first-hand the strength and commitment of the Haitians.  With BA in Theatre from the University of Northern Colorado, and a Master of International Affairs from Columbia University, Sarah hopes to combine her passion for theatre and sustainable development by helping facilitate change through the arts.  She also likes to torture her colleagues by bursting into song.</li>
      <li><b>Claire Espey:</b> Claire is currently enrolled as a Health Promotion track MPH student in the department of Sociomedical Sciences at Columbia University, and expects to graduate in May of 2010. She works as a Program Coordinator for the Inequalities Center and the Robert Wood Johnson Health & Society Scholars program at Columbia.  During a two month internship over the summer of 2009 at Pure Water for Haiti in Port au Prince, she pursued her interests related to water, sanitation and hygiene education interventions, and developed a strong affinity for the people she met there. </li>
      <li><b>Marcy Hersh:</b> Marcy is a dynamic, multilingual gender and development specialist with diverse experiences working in Afghanistan, Ghana, Haiti, India, Kenya, Uganda, and the Marshall Islands. Along with ensuring 100 beds for Haiti, Marcy is interested in gender-based violence prevention, gender mainstreaming, and gender and peacebuilding. She recently completed a masters degree in international affairs from Columbia University.</li>
      <li><b>Emad Kiyaei:</b> Emad is an international development consultant, with expertise in conflict prevention, mediation and advocacy. Currently he is an associate at the Center for International Conflict Resolution (CICR) at Columbia University, focusing on Middle East and Iranian affairs. In the past year, he was part of the organizers for two medical aid convoys to Gaza Strip, which brought 200 trucks and ambulances, $2 million worth of medicine and 500 civil society members from 16 countries to the area. Emad holds a BSc from University of Stony Brook and completed his Masters at Columbia University. He is fluent in English and Farsi, and proficient in conversational Afrikaanse. </li>
      <li><b>Scott MacKenzie:</b> Scott is a co-founder and director of Project Groundswell, a website dedicated to making sense of a changing global environment. He has contributed to numerous environment and natural resource management projects with organizations that include the United Nations Environment Programme and the Earth Institute, and was the creator of the University of California's Sustainable Procurement Program. Scott first became involved in Haiti after contributing to a post disaster environmental needs assessment in March 2009.</li>
      <li><b>Daren McKelvey:</b> Daren&#8217;s work with media startups, content production, videography, and business development has led him to his current entrepreneurial ventures focused on representing filmmakers, photographers, and video production outfits. Originally from Washington DC, holding a BA in Psychology from Brandeis University, Daren is passionate about languages, marketing, art and design, soccer, world music and world travel.</li>
    </ul>
    <br />
    <strong>Stake Holders</strong>
    <br />
    We are supported by the following stakeholders that provide essential support
    <ul>
      <li>Students 4 Haiti</li>
      <li>Students 4 Ayiti</li>
      <li>Humanitarian Affairs Working Group</li>
      <li>Haitian Student Coalition</li>
    </ul>
  </p>
  
</div>
#end def