#extends base

#def maincol()
<style type="text/css">
#banner {
	display: none;
}
</style>
<div id="page-wrap">
<center><img src="/images/100bed_event_v4.jpg" alt="119 W 25ST PH, NY, NY, 10001" /><br/><br/>

<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;q=119+W+25th+St,+New+York,+10001&amp;sll=37.0625,-95.677068&amp;sspn=38.554089,84.814453&amp;ie=UTF8&amp;cd=1&amp;geocode=FWW3bQIdy_WW-w&amp;split=0&amp;hq=&amp;hnear=119+W+25th+St,+New+York,+10001&amp;t=h&amp;ll=40.752784,-73.990088&amp;spn=0.022757,0.036478&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;q=119+W+25th+St,+New+York,+10001&amp;sll=37.0625,-95.677068&amp;sspn=38.554089,84.814453&amp;ie=UTF8&amp;cd=1&amp;geocode=FWW3bQIdy_WW-w&amp;split=0&amp;hq=&amp;hnear=119+W+25th+St,+New+York,+10001&amp;t=h&amp;ll=40.752784,-73.990088&amp;spn=0.022757,0.036478&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</center>
</div>

#end def

