#extends base
#set $page_name = 'main'


#def maincol()
     <h2>Our Mission:</h2>
	<p>The 100 Beds for Haiti Campaign will work to finance the purchase and transportation of 100 hospital beds to Sacre Coeur Hospital in Cap Haitien, the largest private hospital serving the health needs of the XX million people living in the northern province.</p>

#end def