#extends base
#set $page_name = 'main'

#def maincol()
  
<div id="page-wrap">
  <div id="right">
    <h1>The 100 Beds Blog</h1>
    <h3 style="margin-bottom: 0px">$stories[0]['title']</h3>
    <i>$stories[0]['pubDate']</i>
    <br/><br/>
    $stories[0]['description']
    <div style="clear:both;">&nbsp;</div>
  </div>
  <div id="left" style="height:820px">
<p><i>Imagine surviving a devastating earthquake, a painful and debilitating crushing injury to your leg, and a frightening amputation, only to die while in recovery from a preventable condition like an infected bed sore because there was no clean hospital bed for you?</i></p>

<p>In Haiti's <a href="http://www.crudem.org" target="_blank">Sacr&eacute; Coeur Hospital</a>, a shortage of hospital beds finds hundreds of sick patients sleeping on cots, floors and benches. Something as simple as a hospital bed can improve the outcome for the sick dramatically. <b>The 100 Beds for Haiti Campaign is working to get 100 hospital beds and ship them to Haiti to save lives and support the rebuilding of the country's health care system.</b></p>

<p>Your contribution will help the patients and medical staff at the <a href="http://www.crudem.org" target="_blank">Sacr&eacute; Coeur Hospital</a> today and will have a lasting impact on Haiti's healthier tomorrow. <a href="/donate">Donate now to bring beds to Haiti.</a></p>
    <div id="map">
      <img src="images/map330long.png" alt="Haiti map" />
    </div>				      
  </div>
  <div style="clear:both;">&nbsp;</div>
  #for $story in $stories[1:5]
    <h3 style="margin-bottom: 0px">$story['title']</h3>
    <i>$stories[0]['pubDate']</i>
    <br/><br/>
    $story['description']
    <br/><br/>
  #end for
</div>

 <!--
<div id="map"><img src="images/map2.png" alt="Haiti map" /></div>
-->
#end def

#def right_col()
<script src="http://widgets.twimg.com/j/2/widget.js"></script>
<script>
new TWTR.Widget({
  version: 2,
  type: 'profile',
  rpp: 4,
  interval: 6000,
  width: 250,
  height: 300,
  theme: {
    shell: {
      background: '#333333',
      color: '#ffffff'
    },
    tweets: {
      background: '#000000',
      color: '#ffffff',
      links: '#4aed05'
    }
  },
  features: {
    scrollbar: false,
    loop: false,
    live: false,
    hashtags: true,
    timestamp: true,
    avatars: false,
    behavior: 'all'
  }
}).render().setUser('100beds4Haiti').start();

</script>
#end def
