#extends base
#set $page_name = 'main'

#def head()
$suppress_right_col()
#end def

#def maincol()

<h2>H&ocirc;pital Sacr&eacute; Coeur and CRUDEM</h2>

<p>
<b>H&ocirc;pital Sacr&eacute; Coeur (HSC)</b> is the largest private hospital in North Haiti. Located in Milot, outside the town of Cap-Haitien, the 73 bed hospital has provide service for 23 years. The Red Cross has called HSC the best hospital in the country. The <b>CRUDEM (Center for the Rural Development of Milot)</b> Foundation is a multifaceted mission dedicated to helping impoverished people in and around the village of Milot in Haiti, the poorest country in the Western Hemisphere. As a 501C3 registered non-profit organization based in the United States, all donations are tax-deductable. Please see the s IRS letter of determination, audited financial statements and Tax ID number here: <a href="http://www.crudem.org/give/tax-info">http://www.crudem.org/give/tax-info</a>. ALL DONATIONS TO THE 100-BEDS CAMPAIGN ARE EARMARKED FOR THIS PARTICULAR CAUSE AND WILL GO DIRECTLY TO THE ORGANIZATION.
</p>

<div class="right">
<object width="400" height="300"><param name="allowfullscreen" value="true" /><param name="allowscriptaccess" value="always" /><param name="movie" value="http://vimeo.com/moogaloop.swf?clip_id=5324039&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=&amp;fullscreen=1" /><embed src="http://vimeo.com/moogaloop.swf?clip_id=5324039&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=&amp;fullscreen=1" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" width="400" height="300"></embed></object><p><a href="http://vimeo.com/5324039">H&ocirc;pital Sacr&eacute; Coeur</a> from <a href="http://vimeo.com/user1951858">Crudem Foundation</a> on <a href="http://vimeo.com">Vimeo</a>.</p>
</div>

<p>
<h3>Hospital Statistics 2008</h3>
<ul>
<li><b>56,701</b> Outpatient Visits</li>
<li><b>4,182</b> Hospital Admissions</li>
<li><b>1,227</b> Surgeries</li>
<li><b>136,517</b> Prescriptions</li>
<li><b>77,128</b> Laboratory Tests</li>
<li><b>3,192</b> Diagnostic Tests such as EKG, Radiology, Endoscopy</li>
<li><b>1,268</b> Newborn Deliveries</li>
<li><b>10,075</b> Community Health Patient Visits</li>
<li><b>1,190</b> Mobile Clinic Visits</li>
<li><b>5,073</b> people received HIV testing and counseling services for HIV/AIDS, 2,499 of those were pregnant mothers.</li>
<li><b>12,840</b> Antiretroviral Clinic Visits</li>
<li><b>24</b> children a day on average served at the Nutrition Center</li>
<li><b>178</b> Medical Professional Volunteers in 17 Specialties spent an average of one week working and teaching at HSC</li>
</ul>
</p>

<br class="clear"/>

<h2>Steering Committee</h2>
A team of concerned students and young professionals living in New York City conceived this campaign. We bring experiences in public health, economic development, advocacy, law, journalism and media, humanitarian aid, community building, philanthropy, marketing, event planning, and social networking. Our commitment to helping Haiti build back better is rooted in the recognition of our shared humanity and our responsibility to use our talents and energy to create positive, sustainable change for Haiti's long term recovery.

<h2>Stakeholders</h2>
 harnessing the energy and talents of students in the NYC area is a critical aspect of this campaign. The following stakeholders are co-sponsoring our events and providing essential support:
<ul>
<li>S4A - Stay abreast of other Haiti-relief related events through the Students 4 Ayiti calendar of events in NY </li>
<li>Hope</li>
<li>TBD</li>

#end def

