#extends base #set $page_name = 'main'

#def maincol()

<div id="page-wrap"> 
	<div class="header">
		<h1>PARTNERS</h1>
	</div>
	<div id="right"> 
		<img src="/images/stats.png" />
	</div>
	<div id="left">
		<h3>H&ocirc;pital Sacr&eacute; Coeur and The CRUDEM Foundation </h3>
		<p>
			H&ocirc;pital Sacr&eacute; Coeur (HSC) is the largest private hospital
			in Northern Haiti. Located in Milot, outside the town of Cap-Haitien, the
			73 bed hospital has provided service for 23 years. The Red Cross has
			called HSC the best hospital in the country. The CRUDEM (Center for the
			Rural Development of Milot) Foundation's sole mission is the operation
			and support of HSC. 
		</p>	
			
		<p> 
			As a 501c3 registered non-profit organization based
			in the United States, all donations to CRUDEM through the 100 Beds
 for Haiti Campaign are tax-deductible.  Please see the
			organization&#39;s IRS letter of determination, audited financial
 statements and Tax ID number <a href="http://www.crudem.org/give/tax-info" target="_blank">here</a>. 
		</p>

		<p>100&#37; of donations to the 100 Beds for Haiti Campaign are earmarked for this particular cause and will go directly to the organization.</p> 

		<p>
Please learn more about our partners and their work by visiting their <a href="http://www.crudem.org" target="_blank">website</a>, following
 them on <a href="http://www.facebook.com/CRUDEMHaiti"
				target="_blank">Facebook</a> and on <a
				href="http://twitter.com/crudem_haiti" target="_blank">Twitter</a>.
</p>
 
	</div>
	

<div class="footer">

<object width="330" height="248"><param name="allowfullscreen" value="true" /><param name="allowscriptaccess" value="always" /><param name="movie" value="http://vimeo.com/moogaloop.swf?clip_id=5324039&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=&amp;fullscreen=1" /><embed src="http://vimeo.com/moogaloop.swf?clip_id=5324039&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=&amp;fullscreen=1" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" width="330" height="248"></embed></object>
<p><a
 href="http://vimeo.com/5324039">H&ocirc;pital Sacr&eacute; Coeur</a>
 from <a href="http://vimeo.com/user1951858">Crudem Foundation</a> on <a
			href="http://vimeo.com">Vimeo</a>.
		</p>
	</div>
</div>

#end def

