.clear { 
    clear: both;
}

.right {
    float: right;
}

.left {
    float: left;
}

ul {
    list-style: none;
    margin-left: 0;
    padding-left: 1em;
}

.sidemenu {
    border-right: 1px solid #C1272D;
    margin-right: 10px;
    padding-right: 10px;
}

.sidemenu li {
    text-align: right;
}

.sidemenu li a{ 
    font-weight: bolder;
    text-decoration: none;
    color: #4d4d4d;
}

.sidemenu li.selected a{
    color: #ffffff;
}

.sidemenu li.selected .mid_menu_item{ 
    background-color: #c1272d;
    color: #ffffff;
}

.sidemenu li.selected .left_menu_item{ 
    background: transparent url("/images/menu_round.png") 0 0 no-repeat;
}

.sidemenu li.selected .right_menu_item{ 
    background: transparent url("/images/menu_round.png") -9px 0 no-repeat;
}


.menu_item{
    clear: both;
}

.mid_menu_item, .left_menu_item, .right_menu_item {
    height: 20px;
    float: right;
}

.left_menu_item, .right_menu_item { 
    width: 10px;
}

/* page backing */
#pagebacking{
    padding: 20px;
}

table.photos img{
    border: 0px;
    margin: 15px;
}

/* generated by csscreator.com */ 
html, body{ 
    margin:0; 
    padding:0; 
    color: #4d4d4d;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 1.5em;
}
 
#pagewidth{ }
 
#header{
    position:relative; 
    height:100px; 
    background-color:#FFFFFF; 
    width:100%;
} 
 
#leftcol{
    width:15%; 
    float:left; 
    position:relative; 
}
 
#twocols{
    width:85%; 
    float:right; 
    position:relative; 
}
 
#rightcol{
    width:29%; 
    float:right; 
    position:relative; 
}

#maincol{
    background-color: #FFFFFF;  
    float: left; 
    display:inline; 
    position: relative; 
    width:71%; 
}

#footer{
    height:100px; 
    background-color:#FFFFFF; 
    clear:both;
} 
 

 
 /* *** Float containers fix:
 http://www.csscreator.com/attributes/containedfloat.php *** */ 
.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}
 
.clearfix{display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix{height: 1%;}
.clearfix{display: block;}
/* End hide from IE-mac */  


 
 /*printer styles*/ 
 @media print{ 
     /*hide the left column when printing*/ 
     #leftcol{display:none;} 

     /*hide the right column when printing*/ 
     #rightcol{display:none;} 
     #twocols, #maincol{width:100%; float:none;}
}
