/*
	 100 Beds for Haiti
*/

/* global attributes ------------------------------------------------------- */
* { 
	margin: 0; 
	padding: 0; 
}

*:first-child+html .group { zoom: 1; } /* IE7 */

body, html {
	font: Baskerville, Times New Roman, serif;
	background: #2F2626;
}

img { border: none; }

a { text-decoration: none; }

dl dt { 
	padding: 0px; 
	margin: 3px 10px 5px 0; 
	border: none;
	float:left;
}

dl dd {
	font-size: .9em; 
	color: #CCC;
}

/* main layout ------------------------------------------------------------- */

#wrap {
	width: 1075px;
	margin:0 auto;
}

#wrap p {
	width: 660px;
	padding: 0px;
	line-height:1.3em;
}

#wrap p a {
	color: #c1272d;
}

#wrap p a:hover {
	text-decoration:underline;
}

#main {
	margin:20px 0 0 0;
	float:right;
	width:750px;
}

#sidecol {
	float:left;
	width:300px;
}

#head {
	background: #fff;
}

#head img { 
	padding:10px; 
	display:block;
}

#right-text {
	float: right; 
	position: relative; 
	width: 330px; 
} 

#left-text {
	width: 330px;
}

#left-text p, #right-text p {
	width: 320px;
	margin-right: 10px;
}

.left-col, .right-col {
	width: 300px;
}

/* content specific -------------------------------------------------------- */

.advisory-board ul {
	line-height:1.1em;
	list-style-type:none;
	margin-left:0px;
	padding-left:0px;
}

.advisory-board li {
	margin:0 10px 10px 0px;
	font-size:0.9em!important;
	letter-spacing: .04em;
}

.advisory-board li img {
	float:left;
	margin:3px 10px 5px 0px;
}

p.center {
	text-align:right;
	font-size:0.7em!important;
	font-style:italic;
}

#lead {
	color: #FFF;
	background-color: #9C9694;
	font-size: .9em;
	border-top:2px solid #918f80;
	padding:10px;
}
	
#lead p {
	margin:4px 0 0 12px;
}

#magic-line { 
	position: absolute; 
	bottom: -2px; 
	left: 0; 
	width: 100px; 
	height: 2px; 
	background: #788E45; 
}

#map {
	background: #FFF url(/images/newmap.jpg) no-repeat;
	height: 499px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

#navigation { 
	background-color: #c1272d; /* rgba(178,28,34,58); */
/*	border-top: 1px solid #dc383f; */
	border-bottom: 1px solid #6a5656; 
}

ul.nav-list  {
	margin-left:11px;
}

.nav-list li { display: inline; }

.nav-list li a { 
	color: #bbb; 
	font-family: Helvetica, Tahoma, Arial, sans-serif;
	font-stretch: condensed;	
	font-weight: 500;
	font-size: 1.2em;
	letter-spacing:-0.03em; 
	display: block; 
	float: left; 
	padding: 5px 20px 5px 0px; 
	text-decoration: none; 
	text-transform: uppercase; 
}

.nav-list li a.nav-donate {
	color:#00ccff; /*#f4ed73;*/
}

.nav-list li a:hover { 
	color: white; 
}

#page-wrap {
	background: #FFF;
	color: #474747;
	font-family: serif;
	font-size: 1em;
	padding: 30px 30px 30px 30px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
	
#page-wrap img {
	display: block;
}

#page-wrap a {
	text-decoration: none;
	color: #c1272d;
}

#page-wrap a:hover {
	text-decoration: underline;
}
	
#page-wrap p {
	font-size: 0.9em; 
	letter-spacing: .04em;
	line-height:1.15em;
	margin:0 0 1em 0;
}
	
#page-wrap h1 {
	color: #c1272d; /* rgba(178,28,34,58); */
	line-height: 1.4em;
	letter-spacing: -0.03em;
	font-family: Helvetica, Tahoma, Arial, sans-serif;
	font-weight: 500;
	text-transform:uppercase;	
}
	
#page-wrap h2 {
	color: #FFF; 
	line-height: 0.7em; 
	font-family: serif; 
	line-height: 1em; 
	text-align: center; 
	text-decoration: underline;
}

#page-wrap h3 {
	color: #60574E;
	line-height: 1.4em;
	font-size: 1.3em;
	letter-spacing: .04em;
	margin:0 0 0.5em 0;
}
	
#page-wrap li {font-size: 0.8em;}

#page-wrap .footer, #page-wrap .header {
	float:both;
}

#paypal { 
	float: right; 
	position: relative; 
	top: 10px; 
	right: 100px; 
	background: #9D9B8B;
}
	
#who {
	background: #c1272d; /*rgba(178,28,34,58);*/
	margin: 10px;
	padding: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

#who dd {
	margin:0 0 20px 0;
}

#who dl {
	margin:15px;
}

#who dt img {

}

#who h2 {
	padding:10px 0 0 0;
	text-decoration:none;
	text-transform:uppercase;
	color: #FFF;
	font-size:1.3em; 
	font-weight:500;
	letter-spacing:-0.03em;
	font-family:Helvetica, Tahoma, Arial, sans-serif;
}



td.donate-price {width: 200;
	border: none;
}

.red {color: #B21C22}
.gray {color: #9D9B8B}
.right {float: right; 
		color: #B21C22; 
		padding-right: 127px;
		}

#left, #left p, #right p {
	width:330px;
}

#right {float: right; position: relative; width:330px;}

#right img {
	margin-left:10px;
}

.progress {
	background: url(prog.jpg) no-repeat;
	position: relative;
	top: 5px;
	right: 175px;
	width: 155px;
	height: 35px;
	border: 3px solid #9D9B8B;
	float: right;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	
	color: white;	
	
}

.group:after { 
	visibility: hidden; 
	display: block; 
	font-size: 0; 
	content: " "; 
	clear: both; 
	height: 0; 
}



.current_page_item a, .current_page_item_two a { color: white !important; }




table td {
	border: 1px solid black;
	height: 69px;
	width: 48px;
}

	
#sidebar {
	background: #C2C1B9;
	float: left;
	width: 290px;
	height: auto;
	padding: 10px;
	margin:20px 0 0 0;
	font-family: serif;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;	
	font-size: 0.9em;
	line-height: 1.5em;
}

#sidebar a {
	color: #c1272d;
}

#sidebar a:hover {
	text-decoration:underline;
}

#social a {
	padding: 17px; 
	border: none;
}

.top { padding-top: 60px; }	

#twitter { 
	padding: 20px; 
	min-width: 250px; 
}

#latest-flickr-images ul {
	width: 250px;
	height: 350px;
	padding: 10px;
	
	}

#cont {
	background: #FFF;
	width: 71%;
	height: 499px;
	float: right;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
		position: relative;
		top: 20px;
		right: 0;
		}
		
#foot {
	
	 color: #FFF;
	 font-family: serif;	
	 margin:  auto;  
	 background-color: #9D9B8B; 
	 border-top: 3px solid white; 
	 border-bottom: 0px solid white; 
	 height: 95px;
	 font: 14px serif;
	 padding: 7px 15px 0px 15px;
}
/*
	 Contact Form
*/

#contact-area ul {
	list-style:none;
}

#contact-area input, #contact-area textarea {
	padding:5px;
	margin:5px 0 5px 0;
	width:300px;
	border:1px solid #ccc;
}

#contact-area h3 {
	font-weight:normal;
	margin:0px;
}

/*
#contact-area {
	width: 300px;
	margin-top: 25px;
	float: right;
	padding-top: 30px;
}
#contact-area p{
	font-size: 0.9em; 
	width: auto;
	letter-spacing: .04em;
	}
#contact-area h1 {
	color: rgba(178,28,34,58);
	line-height: 1.4em;
	letter-spacing: .04em;
	}
#contact-area h3 {
	color: #60574E;
	line-height: 1.4em;
	font-size: 1.3em;
	letter-spacing: .04em;
	}
#contact-area input, #contact-area textarea {
	padding: 5px;
	width: 471px;
	font-family: serif;
	font-size: 1.4em;
	margin: 0px 0px 10px 0px;
	border: 2px solid #ccc;
}

#contact-area textarea {
	height: 90px;
}

#contact-area textarea:focus, #contact-area input:focus {
	border: 2px solid #900;
}

#contact-area input.submit-button {
	width: 100px;
	float: right;
}

label {
	float: left;
	text-align: right;
	margin-right: 15px;
	width: 100px;
	padding-top: 5px;
	font-size: 1.4em;
	font-family: serif;
}
*/

/* BUTTONS */

.buttons a, .buttons button{
    display:block;
    float:left;
    margin:0 7px 0 0;
    background-color:#f5f5f5;
    border:1px solid #dedede;
    border-top:1px solid #eee;
    border-left:1px solid #eee;

    font-family: serif;
    font-size:100%;
    line-height:130%;
    text-decoration:none;
    font-weight:bold;
    color:#565656;
    cursor:pointer;
    padding:5px 10px 6px 7px; /* Links */
}
.buttons button{
    width:auto;
    overflow:visible;
    padding:4px 10px 3px 7px; /* IE6 */
}
.buttons button[type]{
    padding:5px 10px 5px 7px; /* Firefox */
    line-height:17px; /* Safari */
}
*:first-child+html button[type]{
    padding:4px 10px 3px 7px; /* IE7 */
}
.buttons button img, .buttons a img{
    margin:0 3px -3px 0 !important;
    padding:0;
    border:none;
    width:16px;
    height:16px;
}
/* sort */
